---
import Analytics from "@/components/analytics.astro";
import ResumeDownloadBtn from "@/components/resume-download-btn";
import ResumeSection from "@/components/resume-section.astro";
import "@fontsource/poppins";

const contacts = [
  {
    href: "mailto:mail@xanderbarkhatov.com",
    label: "mail@xanderbarkhatov.com",
    iconClass: "i-lucide-mail",
  },
  {
    href: "https://xanderbarkhatov.com",
    label: "xanderbarkhatov.com",
    iconClass: "i-lucide-globe",
  },
  {
    href: "https://linkedin.com/in/xanderbarkhatov",
    label: "linkedin.com/in/xanderbarkhatov",
    iconClass: "i-lucide-linkedin",
  },
  {
    href: "https://github.com/xanderbarkhatov",
    label: "github.com/xanderbarkhatov",
    iconClass: "i-lucide-github",
  },
];

const jobs = [
  {
    company: "Uzum Technologies",
    position: "Senior Frontend Engineer",
    date: ["August 2022", "Present"],
    achievements: [
      "Develop and support multiple products.",
      "Refactor and improve legacy codebases, resulting in a 25% reduction in technical debt.",
      "Conduct job interviews and onboard new team members.",
      "Participate in code reviews, ensuring code quality and knowledge sharing.",
      "Migrated the project to Webpack 5, resulting in a 20% decrease in deployment time.",
      "Upgraded the project to Node 18, leading to a 70% improvement in deployment efficiency.",
      "Integrated Tailwind CSS, accelerating the development of new features by 50%.",
      "Implemented Flagsmith for feature flags management, streamlining the process and reducing errors.",
    ],
  },
  {
    company: "BirdsBuild",
    position: "Frontend Engineer",
    date: ["February 2021", "July 2022"],
    achievements: [
      "Developed an online marketplace.",
      "Built an admin app, optimizing internal processes.",
      "Created a landing page, improving discoverability by 25%.",
      "Developed a UI Kit, enhancing design consistency and frontend efficiency.",
      "Implemented server-side rendering (SSR), improving performance and SEO ranking.",
      "Migrated the project to TypeScript, resulting in a 20% reduction in bugs.",
      "Incorporated Storybook for component testing and documentation, improving development workflow.",
      "Managed essential dev tools and CI/CD workflows, ensuring code quality and deployment efficiency.",
      "Conducted code reviews and mentored junior developers, promoting professional growth and knowledge sharing.",
    ],
  },
  {
    company: "Rosneft",
    position: "Fullstack Engineer",
    date: ["February 2020", "January 2021"],
    achievements: [
      "Developed the company's internal website, enhancing information sharing among employees.",
      "Created an immersive virtual tour of the company's building, improving onboarding experience for new employees.",
      "Developed an internal automation tool, reducing manual effort across departments by 20%.",
    ],
  },
];

const skills = [
  "JavaScript, TypeScript",
  "React, Redux, MobX, Next.js",
  "Vue.js, Vuex, Pinia, Nuxt",
  "HTML, CSS",
  "Tailwind CSS, Sass, Less",
  "REST, GraphQL, WebSockets",
  "Node.js, Deno",
  "SQL, NoSQL, Redis",
  "Webpack, Vite",
  "Jest, Playwright, Cypress",
  "SPA, SSR, PWA",
  "Git, GitLab, GitHub",
  "CI/CD, Docker",
  "SCRUM, Agile",
  "Testing, Debugging",
  "Performance Optimization",
  "Algorithms, Data Structures",
];

const languages = ["English", , "Russian"];
---

<html lang="en" class="bg-gray-50 antialiased print:bg-white md:bg-gray-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Software Engineer" />
    <meta property="og:title" content="Alexander Barkhatov" />
    <meta property="og:description" content="Software Engineer" />
    <title>Alexander Barkhatov</title>
  </head>
  <body class="p-4 font-sans print:p-0 md:py-10">
    <Analytics />

    <a
      href="/"
      class="fixed right-4 top-16 flex h-8 w-8 items-center justify-center gap-2 rounded bg-gray-800 text-white shadow-lg transition hover:bg-gray-700 print:hidden md:left-4 md:top-4 md:h-10 md:w-10"
    >
      <span class="i-lucide-home h-4 w-4"></span>
    </a>

    <ResumeDownloadBtn />

    <main
      class="prose prose-sm mx-auto grid max-w-[900px] grid-cols-1 gap-x-2 gap-y-4 rounded bg-gray-50 prose-headings:m-0 prose-h2:text-base prose-h3:text-sm prose-ul:mb-0 prose-ul:mt-1 prose-ul:pl-0 prose-ul:leading-tight prose-li:my-1 print:grid-cols-3 print:bg-white print:p-0 print:shadow-none md:grid-cols-3 md:p-10 md:shadow"
    >
      <div class="col-span-2">
        <h1 class="text-xl">Alexander Barkhatov</h1>
        <div>Software Engineer</div>
      </div>

      <section class="flex flex-col gap-1">
        {
          contacts.map((social) => (
            <a
              href={social.href}
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center gap-2 text-sm no-underline"
            >
              <span class:list={[social.iconClass, "shrink-0"]} />
              <span>{social.label}</span>
            </a>
          ))
        }
      </section>

      <div class="col-span-2 flex flex-col gap-3">
        <ResumeSection
          title="Professional Experience"
          icon="i-lucide-briefcase"
        >
          <div class="flex flex-col gap-2">
            {
              jobs.map((job) => (
                <div>
                  <h3>
                    {job.position} at {job.company}
                  </h3>

                  <div class="text-[10px] text-gray-500">
                    {job.date.join(" - ")}
                  </div>

                  <ul>
                    {job.achievements.map((achievement) => (
                      <li class="text-xs">{achievement}</li>
                    ))}
                  </ul>
                </div>
              ))
            }
          </div>
        </ResumeSection>

        <ResumeSection title="Education" icon="i-lucide-graduation-cap">
          <h3>Bachelor of Computer Science, Industrial University of Tyumen</h3>
          <div class="text-xs text-gray-500">September 2016 - July 2020</div>
        </ResumeSection>
      </div>

      <div class="flex flex-col gap-3">
        <ResumeSection title="Skills" icon="i-lucide-wrench">
          <ul>
            {skills.map((skill) => <li>{skill}</li>)}
          </ul>
        </ResumeSection>

        <ResumeSection title="Languages" icon="i-lucide-globe">
          <ul>
            {languages.map((language) => <li>{language}</li>)}
          </ul>
        </ResumeSection>
      </div>
    </main>
  </body>
</html>
