---
import CinesharebotImage from "@/assets/images/cinesharebot.png";
import EmojisearchImage from "@/assets/images/emojisearch.png";
import Card from "@/components/card.astro";
import SectionContainer from "@/components/section-container.astro";
import { halfArray } from "@/lib/utils";
import { Picture } from "astro:assets";

const projects = [
  {
    name: "emojisearch.fun",
    image: EmojisearchImage,
    href: "https://emojisearch.fun",
    description: "AI-powered emoji search",
    stack: [
      {
        name: "TypeScript",
        href: "https://www.typescriptlang.org",
        icon: "i-logos-typescript-icon h-4 w-4",
      },
      {
        name: "Vue.js",
        href: "https://vuejs.org",
        icon: "i-logos-vue h-4 w-4",
      },
      {
        name: "Nuxt",
        href: "https://nuxt.com",
        icon: "i-logos-nuxt-icon h-5 w-5",
      },
      {
        name: "Tailwind CSS",
        href: "https://tailwindcss.com",
        icon: "i-logos-tailwindcss-icon h-5 w-5",
      },
      {
        name: "Redis (Vercel KV)",
        href: "https://vercel.com/docs/storage/vercel-kv",
        icon: "i-logos-redis h-5 w-5",
      },
    ],
  },
  {
    name: "t.me/cinesharebot",
    image: CinesharebotImage,
    href: "https://t.me/cinesharebot",
    description: "Telegram bot for searching and sharing movie posters",
    stack: [
      {
        name: "TypeScript",
        href: "https://www.typescriptlang.org",
        icon: "i-logos-typescript-icon h-4 w-4",
      },
      {
        name: "Bun",
        href: "https://bun.sh",
        icon: "i-logos-bun h-5 w-5",
      },
      {
        name: "Redis",
        href: "https://redis.io",
        icon: "i-logos-redis h-5 w-5",
      },
    ],
  },
];
---

<SectionContainer title="Projects" id="projects">
  <div class="grid gap-4 sm:grid-cols-2">
    {
      halfArray(projects).map((half) => (
        <div class="flex flex-col gap-4">
          {half.map((x) => (
            <Card>
              <Picture
                src={x.image}
                alt={`Screenshot of the ${x.name} project`}
                formats={["avif", "webp"]}
                widths={[590]}
                sizes="590px"
                slot="image"
              />

              <a
                href={x.href}
                target="_blank"
                class="inline-flex items-center gap-2"
              >
                <h3 class="text-lg font-semibold">{x.name}</h3>
                <span class="i-lucide-external-link h-4 w-4" />
              </a>

              <div class="text-sm text-gray-300">{x.description}</div>

              <div class="flex items-center gap-3">
                {x.stack.map((item) => (
                  <a
                    href={item.href}
                    title={item.name}
                    target="_blank"
                    class="flex items-center"
                  >
                    <span class={item.icon} />
                  </a>
                ))}
              </div>
            </Card>
          ))}
        </div>
      ))
    }
  </div>
</SectionContainer>
